[submodule "petclinic-platform"]
	path = petclinic-platform
	url = https://github.com/manju2606/petclinic-platform.git
[submodule "spring-petclinic-microservices"]
	path = spring-petclinic-microservices
	url = https://github.com/manju2606/spring-petclinic-microservices.git
